<ion-view id="about" class="en" view-title="" hide-nav-bar="true">
  <!--  -->
   <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <!--  -->
    <header class="mainScr high">
      <div class="about-title">
        <h1>About</h1>
        <h1>V-UAE 2017</h1>
      </div>
    </header>
    <article class="cusContent" id="aboutCnt">
      <p class="headline">So you’ve bought your #VCON17 tickets. What now?</p>
      <p>After a very successful V-Malaysia 2017, The V is staging yet another record-breaking event in network marketing history. Happening from 8 to 12 September 2017 in the majestic city of Dubai, V-UAE 2017 will gather thousands of networkers from around the world who are unstoppable in their pursuit for success. With the change of location, this year’s second V-Con is set to be bigger and will once again make waves across the globe. For five straight days, there will be multiple talks and presentations from our very own V Founders and V Partners, who are world-class speakers that can point you to the answers you seek about success and the business. There will also be an exhibition of exclusive merchandise, products, and special promos. To be held at Hamdan Sports Complex, V-UAE 2017 is sure to make an unforgettable mark in the lives of many.</p>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/whatis" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>    
    <a href="#/app/whydo" nav-direction="forward">WHY DO IT NOW <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
