<ion-view id="about" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr high">
      <div class="about-title">
        <h1>À propos du</h1>
        <h1>V-Malaysia 2017</h1>
      </div>
    </header>
    <article class="cusContent" id="aboutCnt">
      <p class="headline">Vous avez donc acheté vos billets #VCON17. Et maintenant?</p>
      <p>Après un très réussi V-Malaysia 2017, The V organise encore un autre événement record dans l'histoire du marketing de réseau. Du 8 au 12 septembre 2017 dans la majestueuse ville de Dubaï, le V-UAE 2017 rassemblera des milliers de networkers de partout dans le monde qui sont imparables dans leur quête du succès. Avec le changement d’emplacement, le deuxième V-Con de cette année est plus grand et fera de nouveau des vagues à travers le monde. Pendant cinq jours consécutifs, il y aura plusieurs discours et présentations de nos V Founders et V Partners, qui sont des orateurs de classe mondiale et peuvent vous diriger vers les réponses que vous recherchez sur le succès et l’entreprise. Il y aura également une exposition des marchandises exclusives, des produits et des promos spéciales. Le V-UAE 2017 qui se tiendra au Hamdan Sports Complex, est sûr de faire une marque inoubliable dans la vie de beaucoup.</p>
    </article>

    <a class="button buyticket orange" href="#" onclick="window.open('http://the-v.net/vshoppe/category/v-malaysia-2017-early-bird-ticket', '_system', 'location=yes'); return false;">ACHETER UN BILLET</a>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/whatis-fr" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>    
    <a href="#/app/whydo-fr" nav-direction="forward">POURQUOI LE FAIRE MAINTENANT<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
