<ion-view id="about" class="ar" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr high">
      <div class="about-title">
        <h1>عن</h1>
        <h1>في-ماليزيا 2017</h1>
      </div>
    </header>
    <article class="cusContent" id="aboutCnt">
      <p class="headline">إذاً لقد اشتريت تذاكرك لـ#VCON17. ماذا الآن؟</p>
      <p>
      بعد في-كون ماليزيا 2017 الناجح جداً، الفي تجهز مرة أخرى فعالية محطمة للأرقام القياسية في تاريخ التسويق الشبكي. يحدث من 8 إلى 12 من سبتمبر في مدينة دبي الساحرة، في-كون الإمارات V-UAE 2017  سوف يجمع الألاف من المسوقين الشبكين من حول العالم الذين لا يمكن إيقافهم في سعيهم نحو النجاح. مع تغير الموقع، الفي-كون V-Con الثاني لهذا العام جهز ليكون أكبر وسوف يحدث تموجات عبر العالم. لمدة خمسة أيام كاملة، سوف تكون هناك العديد من العروض والخطابات من قبل مؤسسا الفي وشركاء الفي، الذين هم متحدثين من الطراز العالمي الذين يمكنهم أن يدلوك على الإجابة التي تسعى لها عن الناجح والعمل. وسيكون هناك أيضاً معرض للمعروضات الحصرية، والمنتجات، والعروض الترويجية الخاصة. سوف يقام في مجمع حمدان الرياضي، في-كون الإمارات V-UAE 2017 من المؤكد أنه سيترك علامة لا تنسى في حياة الكثير.</p>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/whatis-ar" nav-direction="back" class="footer-back"><i class="ion-ios-arrow-left"></i></a>    
    <a href="#/app/whydo-ar" nav-direction="forward">لماذا افعلها الأن؟ <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
