
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Как перемещаться по Дубаю</h1>
    </header>
    <article class="cusContent">
      <div class="item">
          <span class="penang-text">Такси</span> 
          <div class="penang-item">
            <div class="penang-desc">На такси можно добраться практически до любой точки Дубая, и их можно легко поймать днём и ночью. Если вам нужно запланировать поездку на такси заранее, то вы можете заказать себе такси в удобное для вас время по телефону +971 4 208 0808.
            Стоимость поездки за километр пути иногда меняется, но, как правило, тарифы очень умеренные. Если вам удобно воспользоваться мобильным приложением для заказа такси, то рекомендуем Uber или Careem.

          </div>
          </div>  
      </div>

      <div class="item">
          <span class="penang-text">Метро или трамвай</span> 
          <div class="penang-item">
            <div class="penang-desc">Система метро и трамвайная система Дубая – отличный способ доехать до популярных кварталов и достопримечательностей, например, Dubai Mall, Dubai World Trade Centre, Dubai Marina и Palm Jumeirah.
            Билеты на метро в Дубае можно приобрести в виде карточки Nol card, которой вы также сможете расплатиться за поездку в автобусе, трамвае и даже на такси. Для тех, кто планирует часто и много перемещаться по городу, будут полезны карточки-проездные сроком действия несколько дней.

          </div>
          </div>  
      </div>
      
      <div class="item">
          <span class="penang-text">Автобусы</span> 
          <div class="penang-item">
            <div class="penang-desc">В Дубае ежедневно циркулирует около 1500 автобусов. Автобусные остановки оборудованы кондиционерами воздуха, и от них вы можете добраться до всех ключевых районов города, поэтому данный вид транспорта является отличным бюджетным вариантом для туристов.
          </div>
          </div>  
      </div>

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-ru" class="back" nav-direction="back">Дубай 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-ru" nav-direction="forward">Товары <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

