
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Penang’da Nasıl Gezilir</h1>
    </header>
    <article class="cusContent">
      <div class="item">
          <span class="penang-text">Taksi Çağırmak</span> 
          <div class="penang-item">
            <div class="penang-desc">Çoğunlukla her yerde bulunur, Dubai'de taksi, gündüz ya da gece boyunca kolayca bulunabilir. Bir yolculuğa çıkmayı planlıyorsanız, bir Dubai taksi toplama hattını +971 4 208 0808 numaralı telefondan arayabilirsiniz.
            <br/>
            Kilometre başına taksi ücreti bazen değişebilir, ancak genellikle makul fiyatlıdır. Bir gezinti yapmak için bir uygulama kullanmayı tercih ederseniz Uber veya Careem kullanılabilir.
          </div>
          </div>  
      </div>

      <div class="item">
          <span class="penang-text">Dubai metrosu veya tramvayı kullanın</span> 
          <div class="penang-item">
            <div class="penang-desc">Dubai'nin metro ve tramvay sistemi, Dubai'nin alışveriş merkezleri, Dubai Dünya Ticaret Merkezi, Dubai Yat Limanı ve Palm Jumeirah gibi Dubai'nin meşhur yerlerine ve popüler semtlerine ulaşmak için harika bir yoldur. Dubai Metro biletleri, otobüs, tramvay ve taksi ücretlerini ödemek için de kullanılabilen bir Nol card şeklinde satın alınabilir. Konaklamanız sırasında metroyu sıklıkla kullanmayı planlayanların, çok günlü geçerliliği olanları mevcuttur.

          </div>
          </div>  
      </div>
      
      <div class="item">
          <span class="penang-text">Otobüs Kullanmak</span> 
          <div class="penang-item">
            <div class="penang-desc">Dubai'nin önemli bölgelerine giden klimalı bekleme kulübeleri ile şehir etrafında dolaşan yaklaşık 1.500 otobüs var, bu da bu ulaşım seçeneğini mükemmel bir bütçe seçeneği haline getiriyor.
          </div>
          </div>  
      </div>

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-tr" class="back" nav-direction="back">Dubai 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-tr" nav-direction="forward">Ürünler<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

