
<ion-view id="penang" class="ar" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>How to Get Around in Penang</h1>
    </header>
    <article class="cusContent">
      <div class="item">
          <span class="penang-text">أوقف سيارة أجرة</span> 
          <div class="penang-item">
            <div class="penang-desc">متوفر في كل مكان تقريباً، سيارات الأجرة بدبي يمكن رؤيتها بسهولة في جميع أنحاء المدينة ليلاً أو نهاراً. إذا كنت تفضل جدولة موعد للركوب، فيمكنك الاتصال بسيارات أجرة دبي على الرقم الآتي: +971 4 208 0808.
            قد تتغير أجرة التاكسي لكل كيلومتر ولكن عادة ما تكون بأسعار معقولة. إذا كنت تفضل استخدام تطبيق لحجز رحلة، اوبر أو كريم متوافرين.
          </div>
          </div>  
      </div>
      <div class="item">
          <span class="penang-text">خذ مترو دبي أو الترام</span> 
          <div class="penang-item">
            <div class="penang-desc">ويعتبر نظام المترو والترام في دبي وسيلة رائعة للوصول إلى معالم دبي المشغولة والمناطق الشهيرة مثل دبي مول ومركز دبي التجاري العالمي، ومرسى دبي، ونخلة جميرا.
            تذاكر مترو دبي يمكن شراء في شكل بطاقة نول، والتي يمكن استخدامها أيضا لدفع رسوم الحافلات والترام وسيارات الأجرة. هناك بطاقات وصول متعددة الأيام متاحة لأولئك الذين يخططون لاستخدام المترو في كثير من الأحيان أثناء إقامتهم.

          </div>
          </div>  
      </div>
      <div class="item">
          <span class="penang-text">اركب حافلة</span> 
          <div class="penang-item">
            <div class="penang-desc">هناك ما يقرب من 1500 حافلة تنتشر في جميع أنحاء المدينة مع محطات انتظار مكيفة الهواء تنتشر في المناطق الرئيسية في دبي، مما يجعل خيار النقل هذا خيار جيد بالنسبة إلى الميزانية.
          </div>
          </div>  
      </div>

    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-ar" class="back" nav-direction="back">بينانج 101<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-ar" nav-direction="forward">المعروضات<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

