
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Comment se déplacer à Dubaï</h1>
    </header>
    <article class="cusContent">
    <div class="item">
      <span class="penang-text">Prendre un taxi</span>
      <div class="penang-desc">
        Disponible presque partout, les taxis de Dubaï peuvent facilement être repérés dans la ville, le jour ou la nuit. Si vous préférez programmer un voyage, vous pouvez appeler le Dubai taxi pick-up au +971 4 208 0808.Les frais de taxi par kilomètre peuvent parfois changer, mais généralement à un prix raisonnable. Si vous préférez utiliser une application pour réserver un taxi, Uber ou Careem sont disponibles.
      </div>
      </div>
      
      <div class="item">
      <span class="penang-text">Prendre le métro ou le tramway de Dubaï</span>
      <div class="penang-desc">
        Les billets du métro de Dubaï peuvent être achetés avec une Nol card, qui peut également être utilisée pour payer les tickets de bus, de tramway et de taxi. Il existe des passes de plusieurs jours disponibles pour ceux qui envisagent de prendre fréquemment le métro pendant leur séjour.
      </div>
      </div>

      <div class="item">
      <span class="penang-text">Prendre le bus</span>
      <div class="penang-desc">
        Il y a près de 1 500 bus qui circulent dans la ville avec la climatisation et des hangars d'attente répartis dans des quartiers clés à Dubaï, ce qui fait de cette option de transport une excellente option budgétaire.
      </div>
      </div>
      
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-fr" class="back" nav-direction="back">Dubaï 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-fr" nav-direction="forward">marchandise <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

