<ion-view id="splash" class="en splashbg" view-title="" hide-nav-bar="true" hide-back-button="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true" scroll="false">


    <article class="welcomeCont">
      <h1>Toutes nos félicitations! </h1>
      <div class="welcome">
        <p>Maintenant que vous avez assuré votre place pour l'événement le plus incroyable de l'histoire du marketing de réseau, permettez-nous de vous aider à vous préparer et à rester à jour sur toutes les choses du V-UAE 2017!</p>
      </div>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/splash-fr" class="back" nav-direction="back">RETOUR</a>
    <div class="pagination"><i class="ion-ios-circle-outline"></i> <i class="ion-record"></i></div>
    <a href="#/app/main-fr" nav-direction="forward">SUIVANT</a>
  </ion-footer-bar>
</ion-view>
