<ion-view id="splash" class="en splashbg" view-title="" hide-nav-bar="true" hide-back-button="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true" scroll="false">


    <article class="welcomeCont">
      <div class="welcome">
        <p>تهانينا! الأن بعد أن أمنت مكانك في الحدث الأكثر روعة في تاريخ التسويق الشبكي، اسمح لنا بأن نساعدك لتكون مستعداً وتضل على اطلاع بكل ما بخص في-كون الإمارات V-UAE 2017!
          <br>
      </div>
    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/splash" class="back" nav-direction="back">BACK</a>
    <div class="pagination"><i class="ion-ios-circle-outline"></i> <i class="ion-record"></i></div>
    <a href="#/app/main" nav-direction="forward">NEXT</a>
  </ion-footer-bar>
</ion-view>
