<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-tg.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>ديف ودواني</h1>
      </div>
      <p class = "intro">كان شريك الفي ديف ودواني منتقداً كبيراً، كما هو حال معظم الناس، حين جاء لأول مرة ليتعرف على كيونت - إلى أن عرف الشركة بكل عظمتها. من خلفية في التمويل المالي حيث كل شيء يتم حسابه بالأرقام، والحقائق والرسوم البيانية، كان شريك الفي ديف متشككاً جداً ولم يكن مهتماً بملاحقة العمل.
      </p>
      <p>
        لكن، بعد إجراء بعض البحث المكثف وبعد لقائه بكبار قادة الشركة، انضم شريك الفي ديف إلى العمل، وإن كان متردداً بعض الشيء. في ذلك الوقت كانت لديه وظيفة مصرفي استثمار في هونغ كونغ ولم يكن نشطاً في العمل على مدى بضع الأشهر الأولى. ولما كانت بعض الأشياء تأتي فقط مع مرور الوقت، توصل شريك الفي ديف ودواني بشكل تدريجي إلى الفهم والايمان برؤية الشركة.
        <br/><br/>
        حين سئل عن صيغته للنجاح، أجاب شريك الفي ديف بأنه يؤمن بأن أهم شيء هو أن تضع هدفك بشكل واضح. الانضباط والتركيز كلاهما ذو أهمية شديدة ويجب ممارستهما باستمرار. إنه يدعي أن اكتساب أكبر قدر من المعرفة والمشاركة في أكبر قدر ممكن من الفعاليات التدريبية قبل وخلال الرحلة نحو النجاح هو أمر مهم بنفس القدر. إنه لا ينكر أن العمل الجاد والمثابرة الشديدة هي أشياء لا يمكنكم النجاح بدونها. تم ترفيع شريك الفي ديف ودواني إلى مرتبة V Partner في في-ماليزيا 2017 .
        <br/><br/>
        شريك الفي ديف، بالرغم من نجاحه، يظل متواضعاً ولا ينسى جذوره وبداياته المتواضعة. ويضيف أن أكثر لحظات الفخر خلال رحلته مع كيونت لم تكن فقط حين تمكن بنفسه من شراء وامتلاك سيارة أحلامه، بل أيضاً حين صار شركاؤه وفريقه قادرين على فعل ذلك. إنه يحافظ على أرضية أن المال ليس الشيء الوحيد الذي يبقي الناس سوياً. الأمر لا يتعلق فقط بالفريق او الاسم أو حتى الشهرة. بالرغم من ان الأمر بدأ بمجموعة من الناس المتوافقين في التفكير، الذين جاءوا باختيارهم، بأفكار وقيم ونظام قناعات مشترك.
        <br/><br/>
        يستقي شريك الفي ديف الإلهام والتحفيز من شخصية مثيرة تدعى محمد علي. يمضي فيقول إن محمد علي شخص أسيء فهمه بشدة لكنه لم يتوقف لحظة عن الإيمان بنفسه. حتى حين تمت محاكمته ونبذه، ثبت محمد علي على مبادئه ولم ينحرف عن الحقيقة. يتطلع شريك الفي ديف بحماس إلى محمد علي كقدوة بسبب نظام قيمه وحقيقة أنه آمن بنفسه برغم المعارضة المستمرة له. يحب شريك الفي ديف الاستماع إلى طيف واسع من الموسيقى مثل الأوبرا، الآر أن بي وموسيقى الروك الناعمة. أنه أيضاً يستمتع بالتجوال حول العالم. وهو شغوف بالمجالات الجديدة وصنع أعمال جديدة، إنه دائماً يبحث عن فرص كامنة في كل مكان. بجانب ذلك يستضيف شريك الفي ديف حفلات، ولا شيء يفوق استمتاعه بعمل حفل جديد والمشاركة الاجتماعية. إنه حقاً يعيش متوافقاً مع لقبه كنجم!
        <br/><br/>
        ويمضي بشكل أعمق ليعبر بأن محاربة غرورك وإفراغ كأسك يعتبر شديد الأهمية في رحلتك، سواء كان في هذا العمل أو في أي مشروع آخر تنخرط فيه. تعلم واستوعب من الأقدم منك، الأكثر خبرة والأكثر منك دخلاً. لا تبق عالقاً في فرسك العالي ظناً منك أنك تعرف أفضل. وفي ذلك يقول:
        <br/>
        “الأمر لا يتعلق بأن تكون على صواب، إنه يتعلق بالنجاح. كان عليا أن أتخلى عن الكثير من الأشياء، مواضيع، حيث كنت أعرف إنني على حق. لكنني عرفت انني لو كسبت نقطة، فإنها لا تعني إنني نجحت لكن أنني وضعت حُجة جيدة فحسب. إنني لا أهتم بأن أكون على صواب، إنني أهتم بالنجاح. أنت بحاجة لأن تقترف أخطاءك الخاصة أحياناً، وطالما أنك تتعلم منها، فلا يمكنك أن تخطئ".

      </p>

      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">المتحدثين<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-dil" nav-direction="forward">[blank]<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
