<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-tg.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Dev Wadhwani</h1>
      </div>
      <p class = "intro">V Partner Dev Wadhwani, QNET'i ilk kez tanıdığında, büyük bir şüpheciydi – şirketin tüm büyüklüğünü anlayana kadar. Sayıların ve rakamların hakim olduğu finans alanında bir geçmişe sahip olan VP Dev, çok şüpheciydi ve işi takip etmekte ilgisizdi.
      </p>
      <p>
        Ancak, kapsamlı bir araştırma yaptıktan sonra ve şirketin önde gelen liderleri ile görüşerek VP Dev, işe biraz ilgisiz de olsa katıldı. O sırada Hong Kong merkezli bir yatırım bankacısı olarak çalışıyordu ve ilk birkaç aydır bu işte aktif değildi. Sadece zamanla gelebilecek bazı şeyler gibi, VP Dev yavaş yavaş firmanın vizyonunu anlamaya ve inanmaya başladı.
        <br/><br/>
        Başarının formülünün ne olduğu sorulduğunda, VP Dev, en önemli şeyin hedeflerinizi net bir şekilde belirlemek olduğuna inandığını söyledi. Disiplin ve odaklanma hayati önem taşımaktadır ve her zaman uygulanmalıdır. O kadar çok bilgi edinmek ve başarı yolculuğuna çıkmadan önce mümkün olduğunca çok sayıda eğitim olayına katılmanın da aynı derecede önemli olduğunu iddia ediyor. Çok çalışmanın ve aşırı azim olmadan başarılı olamayacağımızı söylüyor. VP Dev Wadhwani, at V-Malaysia 2017’de V Partner olarak atandı.
        <br/><br/>
        Başarıya rağmen VP Dev, kendisini ayakta tutar; köklerini ve mütevazi başlangıçlarını unutmaz. QNET ile gerçekleştirdiği yolculuk boyunca yaptığı en gurur verici anının, yalnızca kendi hayalindeki arabalara sahip olması değil, aynı zamanda downline’ları ve ekibinin de bunu yapabilmesi olduğunu söyledi. İnsanları bir araya getiren tek şeyin para olmadığını savunuyor. Takım değildir, isim ya da şöhret de değildir. Fakat bu, birlikte paylaşılan ideolojiler, ortak bir değer ve inanç sistemi ile bir araya gelen aynı görüşlü insanlardan oluşan bir grupla başlar.
        <br/><br/>
        VP Dev, Muhammed Ali adlı ilginç bir karakterden ilham ve motivasyon alır. Muhammed Ali'nin çok yanlış anlaşılmış bir adam olduğunu söylemeye devam ediyor. Muhammed Ali, zulüm ve kaçınmak durumunda bile, ilkelerine bağlı kaldı ve gerçeklerden vazgeçmedi. VP Dev, değeri sistemi ve kalıcı muhalefete rağmen kendisine inandığı gerçeğinden ötürü, rol modeli olarak Muhammed Ali'yi aldı. VP Dev, opera, RnB ve soft rock gibi geniş bir müzik çeşitliliğini dinlemeyi seviyor. Ayrıca kürek çekmekten hoşlanıyor. Yeni girişimler konusunda heyecanlı ve yeni işler yaratıyor, her köşede gizli fırsatlar arıyor. Bunun dışında, VP Dev çok iyi bir parti evsahibidir; iyi bir parti vermeyi ve sosyalleşmeyi çok sever. Rockstar unvanının gerçek yaşayan bir örneğidir!
        <br/><br/>
        Bu iş ya da başlattığınız herhangi bir çaba ya da bu işte olsun, egonuzla savaşmanın ve kabınızı boşaltmanın yolculuğunuzda büyük önem taşıdığını ifade eder. Sizden daha fazla deneyimi olan ve sizden daha iyi maaş alanlardan öğrenin. Daima kendinizin en iyisini bileceğinize inanmayın. Bununla birlikte şunları da ekliyor:
        <br/>
        "Bu doğru olmakla ilgili değil, başarılı olmakla ilgili. Haklı olduğumu bildiğim birçok şey ile ilgili meseleyi bırakmak zorunda kaldım. Ancak şunu biliyordum ki, bu noktayı eve taşımam, başardığım anlamına gelmez, sadece iyi bir argüman koymuş olurdum o zaman. Haklı olmak umrumda değil, fakat başarı umrumda. Bazen kendi hatalarınızı yapmanız gerekir ve onlardan öğrendiğiniz sürece yanılmazsınız. "

      </p>

      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      BAŞA DÖN
    </div>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">Konuşmacılar<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-dil" nav-direction="forward">[blank]<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
