<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-tg.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Dev Wadhwani</h1>
      </div>
      <p class = "intro">Изначально отношение V Partner Dev Wadhwani к QNET было весьма циничным, пока он не познал компанию во всем ее величии. До прихода в компанию он работал в финансовой отрасли, где все выражалось в числах, фактах и цифрах, VP Dev был настроен очень скептически, и его не интересовал бизнес.
      </p>
      <p>
        Однако, после некоторого исследования и по итогам встречи с высшим руководством компании, VP Dev присоединился к бизнесу, все еще немного сомневаясь. В то время он работал инвестиционным банкиром и базировался в Гонконге, и был малоактивен в бизнесе в течение первых двух месяцев после регистрации. Поскольку некоторые вещи приходят только со временем, VP Dev постепенно начал понимать и верить в видение компании.
        <br/><br/>
        Когда его спрашивают о том, что является формулой его успеха, VP Dev отвечает, что самая важная вещь состоит в том, чтобы поставить перед собой чёткие цели. Дисциплина и фокус очень важны, поэтому их нужно практиковать постоянно. Он утверждает, что приобретение большого объёма знаний и участие в как можно большем количестве тренингов тоже важны в этом путешествии к успеху. Он не отрицает, что упорный труд и настойчивость - это те качества, без которых вы не сможете стать успешными. VP Dev Wadhwani назначен V Partner на V-Malaysia 2017..
        <br/><br/>
        VP Dev, несмотря на свой успех, не забывает о своих корнях и то, с чего он начинал. Он добавляет, что самый гордый момент в его путешествии с QNET произошёл не тогда, когда он смог купить автомобили его мечты, а тогда, когда его доунлайны и команда смогли добиться того же самого. Он по-прежнему убеждён, что деньги не являются единственной вещью, которая объединяет людей. Дело также не в команде, известности и тому подобное. Это начинается группы аналогично мыслящих людей, объединяющихся по собственному желанию, которых также объединяют общая идеология, общие ценности и система взглядов.
        <br/><br/>
        VP Dev черпает вдохновение и мотивацию из истории жизни знаменитого Мохаммеда Али. Он говорит, что Мохаммед Али является очень недооцененным парнем, однако он ни на секунду не переставал верить в себя. Даже когда преследовали и отвергали, Мохаммед Али придерживался своих принципов и никогда не отказывался от правды. VP Dev смотрит на Мохаммеда Али как образец для подражания из-за его системы ценностей последнего, а также того факта, что Али не терял веры в себя, несмотря на постоянные препятствия. VP Dev любит слушать музыку разных жанров, в частности, оперу, RnB и софт-рок. Он также любит путешествовать. Ему нравится претворять в жизнь новые идеи и создавать новые компании; он всегда ищет скрытые возможности везде, где только можно. Кроме эого, VP Dev является гостеприимным хозяином и с удовольствием устраивает шикарные вечеринки, приятное и полезное общение на которых гарантировано всем гостям. Он действительно достоин своего титула рок-звезды!
        <br/><br/>
        Он придерживается мнения, что борьба с собственным эгоизмом и опустошение чаши имеют крайне важное значение в путешествии по жизни, пусть речь идёт о бизнесе или любом другом начинании. Учитесь у старших, впитывайте полученные знания, потому это люди более опытные и, соответственно, у них более привлекательные чеки по сравнению с вашими. Не зацикливайтесь на своём эгоизме, полагая, что знаете лучше всех. Вот что он говорит:
        <br/>
        «Дело не в том, чтобы быть правильным. Дело в успехе. Я должен был отпустить от себя многие вещи, проблемы, потому что я понимал, что я прав. Но я понимал, что если бы я убедительно доказал свою точку зрения, это не означало бы, что я добился успеха, а просто что я привёл хороший аргумент. Я не забочусь о том, чтобы быть правым, меня волнует только успех. Иногда вы должны совершать свои собственные ошибки, и пока вы учитесь на них, вы не будете ошибаться.»

      </p>

      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      ВЕРНУТЬСЯ НАВЕРХ
    </div>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">Спикеры <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-dil" nav-direction="forward">[blank]<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
