<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-tg.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Dev Wadhwani</h1>
      </div>
      <p class = "intro">V Partner Dev Wadhwani was a big cynic, as are most people, when he first came to know of QNET – until he got to know the company in all its greatness. With a background in finance where everything was numbers, facts and figures, VP Dev was very skeptical and was disinterested in pursuing the business.
      </p>
      <p>
        However, after some extensive research and upon meeting the company’s top leaders, VP Dev joined the business, albeit still a bit reluctant. At the time, he had a job as an investment banker based in Hong Kong and was not active in the business for the first couple of months. As some things that only can come with time, VP Dev gradually came to understand and believe in the company’s vision.
        <br/><br/>
        When asked what the formula of his success is, VP Dev answered that he believes that the most important thing is to set your goals clearly. Discipline and focus are all of vital importance and must be kept in practice. He claims that acquiring as much knowledge and participating in as many training events as possible before and during their journeys to success are just as important.  He doesn’t deny that hard work and extreme perseverance are something that you cannot be successful without. VP Dev Wadhwani was appointed as V Partner at V-Malaysia 2017.
        <br/><br/>
        VP Dev, despite his success, keeps himself grounded and doesn’t forget his roots and humble beginnings. He adds that his most proud moment throughout his journey with QNET was, not only when he himself was able to purchase and own the cars of his dreams, but also when his downlines and team were all able to do so. He keeps the grounds that money is not the only thing that brings people together. It’s not in the team or the name or the fame either. Though it starts off with a group of like-minded people, who come together by choice, with shared ideologies and a common value and belief system.
        <br/><br/>
        VP Dev draws inspiration and motivation from an interesting character named Muhammad Ali. He goes to say that Muhammad Ali is a very misunderstood guy but not for a bit did he ever stop believing in himself. Even when persecuted and shunned, Muhammad Ali stuck to his principles and never strayed from the truth.  VP Dev fervently looks up to Muhammad Ali as his role model because of his value system and the fact that he believed in himself despite persistent opposition. VP Dev loves listening to a wide-ranged genre of music such as opera, RnB and soft rock. He also enjoys globe-trotting. He is passionate about new ventures and creating new businesses, always looking for hidden opportunities in every nook and cranny. Aside from that, VP Dev is quite the party host and enjoys nothing more than throwing a good party and socializing. Truly living up to his Rockstar title!
        <br/><br/>
        He goes further to express that battling your ego and emptying your cup is of utmost importance in your journey, be it in this business or any other endeavour you embark on. Learn and absorb from those with seniority, more experience and better paychecks than you. Do not get stuck on your high horse, always believing that you know best. With that he says:
        <br/>
        “It’s not about being right, it’s about succeeding. I have had to let go of many things, issues, where I knew I was right. But I knew that if I drove the point home, it would not mean I succeeded but merely that I put up a good argument. I don’t care about being right , I care about success. You need to make your own mistakes sometimes, and so long as you learn from them, you can’t go wrong.”

      </p>

      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      Back to Top
    </div>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers" class="back" nav-direction="back">The Speakers <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-dil" nav-direction="forward">[blank]<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
