<ion-view id="speakers" class="en" view-title="" hide-nav-bar="true">
    <ion-header-bar align-title="left">
      <div class="buttons menuTop">
        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
  <ion-content has-bouncing="false" padding="false">
    <header class="mainScr mid vp">

    </header>
    <article class="cusContent">
      <div class="speaker-photo"><img src="img/m-vp-tg.png" width="100%" height="auto" class="center ">
      </div>
      <div class= "speaker-name">
        <h2>V Partner </h2>
        <h1>Dev Wadhwani</h1>
      </div>
      <p class = "intro">Le V Partner Dev Wadhwani était un grand cynique comme la plupart des gens quand il a découvert pour la première fois l’existence de QNET - jusqu'à ce qu'il connaisse l'entreprise dans toute sa grandeur. Avec une formation en finance où tout était en chiffres, faits et chiffres, le VP Dev était très sceptique et était désintéressé à poursuivre avec l'entreprise.
      </p>
      <p>
        Cependant, après quelques recherches approfondies et après avoir rencontré les tops leaders de l’entreprise, le VP Dev a rejoint l'entreprise, même s’il était encore un peu réticent. À l'époque, il travaillait en tant que banquier d'investissement basé à Hong Kong et n'était pas actif dans l'entreprise pendant les deux premiers mois. Comme certaines choses qui ne peuvent venir qu’avec le temps, le VP Dev a progressivement commencé à comprendre et à croire en la vision de l'entreprise.
        <br/><br/>
        Lorsqu'on lui demandait quelle était la formule de son succès, le VP Dev répondait qu'il croit que le plus important, c’est de fixer clairement vos objectifs. La discipline et la concentration sont toutes d'une importance capitale et doivent être pratiquées. Il affirme que l'acquisition d’autant de connaissances et la participation à autant d'événements de formation que possible avant et pendant leurs voyages vers le succès sont tout aussi importants. Il ne nie pas que le travail acharné et l’extrême persévérance sont des choses sans lesquelles vous ne pouvez pas réussir. Le VP Dev Wadhwani a été nommé V Partner au V-Malaysia 2017.
        <br/><br/>
        Le VP Dev, malgré son succès, garde les pieds sur terre et n'oublie pas ses racines et ses humbles débuts. Il ajoute que le moment où il a eu plus de fierté tout au long de son voyage avec QNET n’était pas seulement quand il a pu acheter et avoir les voitures de ses rêves, mais aussi quand ses filleuls et son équipe ont tous pu le faire. Il maintient le principe que l'argent n'est pas la seule chose qui rassemble les gens. Ce n'est pas dans l'équipe ou le nom ou même la renommée. Toutefois, il a commencé avec un groupe de personnes partageant les mêmes idées, qui se réunissent par choix, avec des idéologies partagées et un système de valeurs et de croyances communes.
        <br/><br/>
        Le VP Dev tire son inspiration et sa motivation d'un personnage intéressant nommé Muhammad Ali. Il continue en disant que Muhammad Ali était un gars très mal compris, mais il n’a jamais cessé de croire en lui un instant. Même quand il était persécuté et rejeté, Muhammad Ali est resté sur ses principes et ne s'est jamais écarté de la vérité. Le VP Dev admire ardemment Muhammad Ali comme son modèle à cause de son système de valeurs et du fait qu'il croyait en lui malgré l'opposition persistante. Le VP Dev aime écouter les genres de musique très variés tels que l'opéra, le RnB et le soft rock. Il aime aussi le globe-trotter. Il a de la passion pour les nouvelles entreprises et la création de nouvelles entreprises, toujours en quête de possibilités cachées dans tous les coins et recoins. En dehors de cela, le VP Dev est bien l’hôte correspondant et n'aime rien d’autre que l’organisation d’une fête et la socialisation. Vraiment à la hauteur de son titre de Rockstar!
        <br/><br/>
        Il va plus loin pour dire que la lutte contre votre ego et le fait de vider votre tasse sont d'une importance capitale dans votre voyage, que ce soit dans cette entreprise ou dans toute autre entreprise dans laquelle vous embarquez. Apprenez et absorbez des plus âgés, ceux qui ont plus d'expérience et de meilleurs chèques que vous. Ne restez pas coincé sur votre grand cheval, croyez toujours que vous savez mieux. Pour ça il dit:
        <br/>
        “Il ne s'agit pas d'avoir raison, il s'agit de réussir. J'ai dû me débarrasser de beaucoup de choses et questions, où je savais que j'avais raison. Mais je savais que si j’enfonçais le clou, ça n’allait pas signifier que j'ai réussi, mais simplement que j'ai présenté un bon argument. Je ne cherche pas à avoir raison, je m’intéresse au succès. Vous devez parfois faire vos propres erreurs et tant que vous apprenez d'eux, vous ne pouvez pas vous tromper.”

      </p>

      <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE LA PAGE
    </div>

    </article>


  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/speakers-ar" class="back" nav-direction="back">Les Orateurs<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/vp-dil" nav-direction="forward">[blank]<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
