
<ion-view id="penang" class="ar" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>10 أماكن يجب أن تراها في دبي</h1>
    </header>
    <article class="cusContent">

      <p class="headline">
        ابتدأً من مواقع التراث الثقافي إلى المجمعات الحديثة، تفخر دبي بتقديم مجموعة واسعة من المعالم السياحية لزوارها التي تعرض مزيجها المجيد من التقاليد الإسلامية والنفوذ العالمي.
      </p>

       <div class="item">
        <span class="penang-text">برج خليفة</span>
        <img src="img/dubai-burj.jpg" width="100%" height="auto" class="center ">
        <div class="penang-desc">
          يعتبر برج خليفة أعلى مبنى في العالم، ويبلغ ارتفاعه 828 مترا. هذا الهيكل الشاهق يجسد التزاوج الرائع للفن، والهندسة، والتراث. ويمكن العثور على ألف عمل فني صممت خصيصاً من فنانين في الشرق الأوسط ودوليين في جميع أنحاء المبنى. وهي موطن لمساحات من المكاتب المتعددة التي تمتد آلاف الأمتار و900 مسكن خاص، و160 غرفة في فندق أرماني، وسطح المراقبة في الهواء الطلق في الطابق 124 يسمى آت ذا توب. في الآونة الأخيرة، تم افتتاح سطح عرض جديد في الطابق 148، ويدعى آت ذا توب سكاي.
        </div>
      </div>

       <div class="item">
        <span class="penang-text">مول دبي</span>
        <img src="img/dubai-dubaimall.jpg" width="100%" height="auto" class="center ">
          <div class="penang-desc">
            على بعد خطوات قليلة من برج خليفة هو مجمع مول موسع، يتطلب من الزوار أكثر من يوم لرؤية وتجربته بالكامل. ويضم أكثر من 1200 محل تجاري و150 مطعما، ومتنزه ترفيهي، وحلبة للتزلج على الجليد، وهيكل عظمي لديناصور يبلغ من العمر 155 مليون سنة، وشلال داخلي ضخم، وفندق فاخر ونافورة راقصة، وحديقة مائية عملاقة وحديقة حيوان تحت الماء .
          </div>  
      </div>

       <div class="item">
        <span class="penang-text">نخلة جميرا</span>
        <img src="img/dubai-palmjumeirah.jpg" width="100%" height="auto" class="center ">
          <div class="penang-desc">
            مصنوعة على شكل شجرة النخيل، نخلة جميرا هي جزيرة من صنع الإنسان الذي وهي دليل دائم كبير للإبداع البشري. وهي موطن لمجموعة واسعة من الفنادق والمنتجعات الفاخرة.
          </div>  
      </div>

      <div class="item"> 
        <span class="penang-text">خور دبي</span>
        <img src="img/dubai-dubaicreek.jpg" width="100%" height="auto" class="center ">
        <div class="penang-desc">
          يعتبر هذا الخليج البحري قلب دبي نظرا لتاريخه الثقافي الغني. الخور حيث كانت الأنشطة الاقتصادية المبكرة في دبي، وقعت فيه نشاطات مثل الغوص من أجل اللؤلؤ والصيد. الآن، يمكن للسياح القيام برحلة في تاريخ دبي النابض بالحياة من خلال الخور مع متحف وحشود من الأسواق في الديرة. وهناك طريقة لطيفة لاستكشاف الخور عن طريق أخذ عابرة، الذي يجتاز المياه.
        </div>  
      </div>

      <div class="item"> 
        <span class="penang-text">البستاكية</span>
        <img src="img/dubai-bastakiya.jpg" width="100%" height="auto" class="center ">
        <div class="penang-desc">
          هذه المنطقة القديمة في دبي تتيح للسياح لمحة تاريخية ملونة في دبي مع ممراتها الضيقة وأبراج الرياح. كما يمكن العثور على منازل الفناء التقليدية هنا، بالإضافة إلى متحف ومركز ثقافي ومعرض فني ومطاعم. 
        </div>  
      </div>

      <div class="item">
        <span class="penang-text">مسجد جميرا</span> 
        <img src="img/dubai-jumeirahmosque.jpg" width="100%" height="auto" class="center ">
        <div class="penang-desc">
          أحد المساجد الأكبر والأجمل في دبي هو مسجد جميرا، الذي يعد مثالا رائعا على العمارة الإسلامية الحديثة. هذا المعلم في المدينة لديه مآذن توأم وقبة مهيبة مما يجعله واحد من مناطق الجذب الأكثر إثارة للإعجاب في دبي.
        </div>  
      </div>

      <div class="item">
        <span class="penang-text">المسجد الكبير</span> 
        <img src="img/dubai-grandmosque.jpg" width="100%" height="auto" class="center ">
        <div class="penang-desc">
          المسجد الكبير في دبي له أطول مئذنة في المدينة. وهو لديه 45 قبة صغيرا، ويتضمن 9 قبب من الزجاج الملون يجعله مكانا مجيدا للعبادة.
        </div>  
      </div>

      <div class="item">
        <span class="penang-text">برج نهار</span> 
        <img src="img/dubai-burjnahar.jpg" width="100%" height="auto" class="center ">
        <div class="penang-desc">
          برج نهار هو برج المراقبة التاريخي الذي بني في عام 1870، وهو واحد من الثلاثة الذين يستخدمون لحماية المدينة القديمة. وتحيط به الآن حدائق خلابة التي تجعله جديرة بالتصوير.
        </div>  
      </div>

      <div class="item">
        <span class="penang-text">بيت الوكيل</span> 
        <img src="img/dubai-baitalwakeel.jpg" width="100%" height="auto" class="center ">
        <div class="penang-desc">
          أول مبنى مكتبي في دبي، بني بيت الوكيل في عام 1934 من قبل الراحل الشيخ راشد. وقد تم ترميمه وهو الآن موطن لمتحف مخصص لصيد الأسماك والتقاليد البحرية في دبي.
        </div>  
      </div>

      <div class="item">
        <span class="penang-text">برج ديرة، ساحة بني ياس</span> 
        <img src="img/dubai-deiratower.jpg" width="100%" height="auto" class="center ">
        <div class="penang-desc">
          ساحة بني ياس هي موطن برج ديرة المهيمن، الذي يحظى بشعبية بسبب سقفه الدائري. يظهر جهدا كبيرا لخلط الهندسة المعمارية الحديثة مع محيط تقليدي أكثر. ويتميز البرج بتصميم يحمي شاغليه من المناخ الصيفي القاسي.
        </div>  
      </div>
      
  <div class="source">
      <p class="source">
        Burj Khalifa
        <br/>
        http://www.hdwallpapers.in/download/burj_khalifa_aka_burj_dubai-1600x900.jpg&imgrefurl=http://www.hdwallpapers.in/burj_khalifa_aka_burj_dubai-wallpapers.html&h=900&w=1600&tbnid=mJXbrBkE_-Ck3M:&zoom=1&docid=SoNWVKeuo5kZ4M&ei=t3yLVaaiEeXamgWWxIHYCg&tbm=isch&ved=0CCkQMygRMBE 
        <br/><br/>
        
        Dubai Mall
        <br/>
        http://upload.wikimedia.org/wikipedia/commons/6/6d/Dubai_Mall-Dubai3161.JPG&imgrefurl=https://en.wikipedia.org/wiki/The_Dubai_Mall&h=2592&w=3888&tbnid=m9kkHsSfQ-A5uM:&zoom=1&docid=CE6TPJBSLBwmPM&ei=53yLVcSRI6LCmAX1qqzIDQ&tbm=isch 
        <br/><br/>

        Palm Jumeirah
        <br/>
        http://t2.gstatic.com/images?q=tbn:ANd9GcR-d6uVfr-R9dhHhsgBsBQuH9s1Wru4gNU22WFn7ep16fwNwJh-qw
        <br/><br/>

        Dubai Creek
        <br/>
        http://www.momentaryawe.com/blog/wp-content/uploads/2014/05/dubai_creek_1.jpg 
        <br/><br/>
  
        Bastakiya
        <br/>
        http://t0.gstatic.com/images?q=tbn:ANd9GcTbPmeoj2sjrc79lrhDpWRed1w7Zp2Y_hqg_LLgmALEbHVRDtWWdg 
        <br/><br/>
        
        Jumeirah Mosque
        <br/>
        http://www.joutrip.com/i/j/jumeirah-mosque-jumeirah-mosque.jpg 
        <br/><br/>
        
        Grand Mosque
        <br/>
        http://famouswonders.com/wp-content/uploads/2013/06/Grand-Mosque-Dubai.jpg
        <br/><br/>

        Burj Nahar
        <br/>
        http://www.dubaitrip.info/images1/Burj-Nahar.jpg 
        <br/><br/>

        Bait Al Wakeel
        <br/>
        https://sjsudubai.files.wordpress.com/2011/01/011611_1521.jpg
        <br/><br/>

        Deira Tower, Bani Yas Square
        <br/>
        http://www.emporis.com/images/show/265781-Large.jpg 


      </p>
    </div>
    

     <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      Back to Top
    </div>


    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-ar" class="back" nav-direction="back">بينانج 101<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-ar" nav-direction="forward">المعروضات<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>





