
<ion-view id="penang" class="en" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>Les 10 lieux incontournables à Dubaï</h1>
    </header>
    <article class="cusContent">

      <p class="headline">From cultural heritage sites to modern complexes, Dubai takes pride in presenting its visitors a wide range of attractions that exhibits its glorious mix of Islamic tradition and global influence.</p>

       <div class="item">
          <!-- START penang ITEM--> 
          <span class="penang-text">Burj Khalifa</span>
          <div><img src="img/dubai-burj.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">Considéré comme le plus haut bâtiment du monde, le Burj Khalifa à 828 mètres de haut. Cette structure imposante illustre un magnifique mariage d'art, d'ingénierie et de patrimoine. Mille œuvres d'art spécialement commandées d'artistes du Moyen-Orient et internationaux peuvent être trouvées dans tout le bâtiment. Il abrite de multiples espaces de bureaux qui s'étendent sur des milliers de mètres, 900 résidences privées, un hôtel Armani de 160 chambres et une terrasse d'observation extérieure au 124e étage appelée At the Top. Récemment, une nouvelle terrasse d’observation a été ouverte au 148e étage, appelée At The TopSKY.
            </div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <span class="penang-text">Dubai Mall</span>
          <div><img src="img/dubai-palmjumeirah.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">À quelques pas de Burj Khalifa, il y a un vaste centre commercial qui nécessite plus d'une journée pour que les visiteurs voient et expérimentent son intégralité. Il abrite plus de 1 200 magasins et 150 restaurants, un parc à thème intérieur, une patinoire, un squelette de dinosaure de 155 millions d'années, une immense cascade intérieure, un hôtel de luxe, une fontaine chorégraphiée, un aquarium géant et un zoo sous-marin.</div>
          </div>  
      </div>
       <div class="item">
          <!-- START penang ITEM-->
          <span class="penang-text">Palm Jumeirah</span>
          <div><img src="img/dubai-palmjumeirah.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">Fait sous forme de palmier, le Palm Jumeirah est une île artificielle qui constitue une excellente preuve de l'ingéniosité humaine. Il abrite un large éventail d'hôtels et de centres de villégiature luxueux.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <span class="penang-text">Crique de Dubaï</span>
          <div><img src="img/dubai-dubaicreek.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">Cette entrée d'eau de mer est considérée comme le cœur de Dubaï en raison de sa riche histoire culturelle. La crique est l'endroit où se sont déroulées les premières activités économiques de Dubaï, telles que la pêche à la perle et la pêche. Maintenant, les touristes peuvent faire un voyage dans l'histoire vibrante de Dubaï à travers la crique avec son musée et ses foules de souks à Deira. La belle façon d'explorer la crique, c’est de prendre un abra, qui traverse l'eau.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM--> 
          <span class="penang-text">Bastakiya</span>
          <div><img src="img/dubai-bastakiya.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> -->
            <div class="penang-desc">Ce vieux quartier de Dubaï permet aux touristes d'avoir un aperçu du passé coloré de Dubaï avec ses ruelles étroites et ses tours éoliennes. Des maisons avec cour traditionnelles peuvent également être trouvées ici, avec un musée, un centre culturel, une galerie d'art et des restaurants.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <span class="penang-text">Mosquée Jumeirah</span> 
          <div><img src="img/dubai-jumeirahmosque.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> <--></-->
            <div class="penang-desc">L'une des mosquées les plus grandes et les plus belles de Dubaï, c’est la mosquée de Jumeirah, qui est un excellent exemple de l'architecture islamique moderne. Ce monument de la ville présente des minarets doubles et un dôme majestueux qui fait d’elle l'une des attractions les plus admirées de Dubaï.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <span class="penang-text">Grande mosque</span> 
          <div><img src="img/dubai-grandmosque.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> <--></-->
            <div class="penang-desc">La grande mosquée de Dubaï a le minaret le plus haut de la ville. Elle met en valeur 45 petits dômes, dont 9 vitraux qui font d’elle un glorieux lieu de culte.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <span class="penang-text">Burj Nahar</span> 
          <div><img src="img/dubai-burjnahar.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> <--></-->
            <div class="penang-desc">Burj Nahar est une tour de guet historique construite en 1870, qui est l'une des trois qui gardaient la vieille ville. Elle est maintenant entourée de jardins à couper le souffle qui lui donnent une image remarquable.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <span class="penang-text">Bait Al Wakeel</span> 
          <div><img src="img/dubai-baitalwakeel.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> <--></-->
            <div class="penang-desc">Le premier immeuble de bureaux de Dubaï, Bait Al Wakeel a été construit en 1934 par feu Sheikh Rashid. Ça a été restauré et abrite aujourd'hui un musée consacré à la pêche et aux traditions maritimes de Dubaï.</div>
          </div>  
      </div>
      <div class="item">
          <!-- START penang ITEM-->
          <span class="penang-text">Deira Tower, Bani Yas Square</span> 
          <div><img src="img/dubai-deiratower.jpg" width="100%" height="auto" class="center "></div>
          <div class="penang-item">
            <!-- <div class="penang-text">Georgetown</div> <--></-->
            <div class="penang-desc">Bani Yas Square abrite le dominant Deira Tower, qui est populaire du fait de son ‘cap’ circulaire. Cela montre parfaitement un grand effort de mélange de l'architecture moderne à un environnement plus traditionnel. La tour dispose d’un design qui protège ses occupants contre le climat estival rigoureux.</div>
          </div>  
      </div>

     
     <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      HAUT DE LA PAGE
    </div>


    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-fr" class="back" nav-direction="back">Dubai 101 <i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-fr" nav-direction="forward">marchandise <i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>

