<ion-view id="penang" class="ar" view-title="" hide-nav-bar="true">
  <ion-content has-bouncing="false" padding="false" has-footer="true">


    <ion-header-bar align-title="left">

      <div class="buttons right menuTop">

        <button class="button ion-navicon" menu-toggle="left"></button>
      </div>
    </ion-header-bar>
    <header class="mainScr mid">
      <h1>أين يمكنك ان تزل في بينانج</h1>
    </header>
    <article class="cusContent">
      <div class="item">
          <div class="penang-text">وسط مدينة دبي</div>
          <div class="penang-desc">
            وسط مدينة دبي هو منطقة محببة في دبي للزوار حيث أنها تحتوي على معظم مناطق الجذب الحديثة في المدينة، مثل برج خليفة، دبي مول، ونافورة دبي. كما يمكن العثور على مركز دبي التجاري العالمي هنا، الذي يحظى بشعبية بين العديد من ناطحات السحاب والمكاتب في المدينة. مع أعلى المؤسسات التجارية التي تملء هذه المنطقة، الفنادق الموجودة هنا  تكلف أكثر.
          </div>  
      </div>

      <div class="item">
        <div class="penang-text">بر دبي</div>
        <div class="penang-desc">
          بر دبي حيث يمكن العثور على بعض المعالم التاريخية الأكثر شهرة في المدينة، مثل منطقة الفهيدي التاريخية، ومكتب الحاكم، ومتحف دبي، وسوق النسيج. وهي أيضا مركز تجاري ومركز طعام مزدحم، مع الكثير من المطاعم على طول شارع الضيافة.
          الفنادق في هذه المنطقة هي بأسعار معقولة أكثر مقارنة مع تلك المجاورة في وسط مدينة دبي.

        </div>
      </div>

      <div class="item">
            <div class="penang-text">البستاكية (مدينة قديمة)</div>
            <div class="penang-desc">
              إذا كنت ترغب في تجربة سحر العالم القديم في دبي، فإن حي البستاكية مناسب لك. يفع على الشاطئ الجنوبي لخور دبي، هو القلب التقليدي والحي التاريخي في دبي. يمكن العثور على فنادق ذات الميزانية  المعقولة والنزل الفاخرة في هذه المنطقة.
            </div>
      </div>
          
      <div class="item">
          <div class="penang-item">
            <div class="penang-text">ديرة</div>
            <div class="penang-desc">
              تقع منطقة ديرة على الجانب الشمالي من خور دبي، وهو جزء قديم من المدينة حيث كانت تقع منطقة ميناء دبي القديمة. واحدة من المناطق التجارية الأولى في المدينة، هو أقرب منطقة إلى المطار. هذا هو المكان الذي يمكن العثور فيه على معظم خيارات الإقامة ذات الميزانية المقبولة في دبي. إذا كنت ترغب في الكثير من الطعام والتسوق، يمكنك التوجه إلى الرقة، والتي هي جزء معاصر أكثر من أجزاء ديرة.
            </div>
          </div>
      </div>

      <span class="source"> Source: www.visitdubai.com </span>
       <div class="backtotop" ng-controller="PlaylistsCtrl"  ng-click="scrollTop()">
      <i class="ion-ios-arrow-up"></i> &nbsp; &nbsp;
      العودة إلى أعلى
    </div>


    </article>

  </ion-content>
  <ion-footer-bar align-title="right" class="bar-assertive">
    <a href="#/app/penang101-ar" class="back" nav-direction="back">بينانج 101<i class="ion-ios-arrow-left"></i></a>
    <a href="#/app/merchandise-ar" nav-direction="forward">المعروضات<i class="ion-ios-arrow-right"></i></a>
  </ion-footer-bar>
</ion-view>
